/*#: HOVER IMMAGINI*/

/* Stili per il bottone play */
.card .play-button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Effetto hover */
.card:hover img {
  opacity: 0.5;
  /* transform: scale(1.1); */
}

.card:hover .play-button {
  opacity: 1;
}


/*#: HOVER BOTTONE HEADER*/

/* Effetto hover */
header .btn:hover {
  transform: scale(1.1);
}

/*##: HOVER NAV MAIN*/

.page nav ul li:hover {
  color: white;
}


/*#: HOVER SIDEBAR*/