/*#: HOVER IMMAGINI*/

/* Stili per il bottone play */
figure .play-button {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Effetto hover */
.card:hover img {
  opacity: 0.5;
  /* transform: scale(1.1); */
}

.card:hover .play-button {
  opacity: 1;
}


/*#: HOVER BOTTONE HEADER*/

/* Effetto hover */
header .btn:hover {
  transform: scale(1.1);
}

/*##: HOVER NAV MAIN*/

.page nav ul li:hover {
  color: white;
}


/*#: HOVER SIDEBAR*/