/* Media Query per dispositivi tablet */
@media (max-width: 992px) {
  .col {
    flex: 1 1 calc(100% / 4);
    /* 4 colonne per schermi tablet */
    max-width: calc(100% / 4);
  }

  .row {
    flex-wrap: wrap;
  }
}

/* Media Query per dispositivi mobili */
@media (max-width: 768px) {
  .col {
    flex: 1 1 calc(100% / 3);
    /* 3 colonne per schermi più piccoli */
    max-width: calc(100% / 3);
  }

  .row {
    flex-wrap: wrap;
  }

  .left-foot .preferiti {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }

  /* .main-foot .buttons,
  .main-foot .progress-bar,
  .right-foot {
    width: 100%;
  }

  .main-foot .progress-bar .range {
    width: 100%;
  } */
}


/* Media Query per schermi molto piccoli */
@media (max-width: 580px) {
  .col {
    flex: 1 1 calc(100% / 2);
    /* 2 colonne per schermi molto piccoli */
    max-width: calc(100% / 2);
  }

  .row {
    flex-wrap: wrap;
  }

  .sidebar {
    min-width: 40px;
    /* Riduci la larghezza della sidebar */
    padding: 10px 5px;
  }

  .logo {
    display: none;
    /* Nascondi il logo grande */
  }

  .logo-small {
    display: block;
    /* Mostra il logo piccolo */
    max-width: 100%;
    height: auto;
  }

  nav ul li span {
    display: none;
    /* Nascondi il testo nei link della navbar */
  }

  .playlist-section {
    display: none;
  }

  .user-section span,
  .user-section hr {
    display: none;
    /* Nascondi il testo nella sezione utente */
  }

  nav ul li,
  .user-section .install,
  .user-section .profile {
    justify-content: center;
    /* Centra le icone dei link della navbar */
  }

  .user-section .install {
    margin-bottom: 20px;
    padding: 0 16px
  }

  .user-section .profile {
    padding: 0 18px;
  }


}


/* #: SIDEBAR */

@media (max-height: 900px) {
  .playlist-container {
    max-height: 300px;
    /* Cambia l'altezza massima quando la finestra è più piccola */
  }
}

@media (max-height: 740px) {
  .playlist-container {
    max-height: 200px;
    /* Cambia l'altezza massima quando la finestra è più piccola */
  }
}

@media (max-height: 630px) {
  .playlist-container {
    max-height: 100px;
    /* Cambia l'altezza massima quando la finestra è più piccola */
  }
}