/*#: RESET DO BASE*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: sans-serif;
  overflow: hidden;
}


.upper-content {
  overflow-y: auto;
  height: calc(100vh - 100px);
  background-color: greenyellow;
  display: flex;
}



/*#: SIDEBAR */

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #000;
  color: white;
  padding: 10px 10px;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.logo {
  width: 80%;
}


.user-section {
  margin-top: auto;
  /* padding: 10px 20px; */
}

nav ul {
  list-style-type: none;
}


nav ul li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

nav ul li img {
  width: 20px;
  height: 20px;
}


.page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  color: #797C80;
  font-weight: 800;
}

.fa-plus {
  color: black;
  background-color: #A3A3A3;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 10px;
}

.user-section hr {
  width: 100%;
  border: 1px solid #333;
  margin: 10px 0;
}

.user-section i {
  margin-right: 10px;
  font-size: 20px;
}

.install,
.profile {
  display: flex;
  align-items: center;
}

.install img,
.profile img {
  margin-right: 10px;
  height: 15px;
  width: 15px;
}

.profile img {
  background-color: grey;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}



/*#: HEADER*/

header {
  background-color: #080B12;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 30px;
  flex: 0 0 50px;
}

header .btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 20px;
  text-transform: uppercase;
}



/*#: MAIN */

main {
  flex: 1 1 auto;
  overflow: auto;
  background-color: #141922;
  color: white;
}

main header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
}

main nav ul {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* gap: 20px; */
}

.col {
  flex-basis: calc(100% / 6);
  /* border: 2px dashed black; */
  /* margin: 20px 20px; */
  padding: 20px 20px;
}

.card {
  /* background-color: #f00; */
  /* border: 1px dashed white; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card img {
  max-width: 100%;
  height: auto;
}


.card span:first-of-type {
  font-weight: bold;
  margin-top: 10px;
}

.card span:nth-of-type(2) {
  color: #797C80;
  font-size: 14px;
  margin-top: 5px;
}



/*#: FOOTER */

footer {
  height: 100px;
  background-color: #282828;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

footer div {
  display: flex;
  align-items: center;
}

.left-foot img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.left-foot .track-info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.left-foot .track-info span:first-child {
  font-weight: bold;
}

.left-foot button {
  margin-left: 10px;
}

.main-foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.main-foot .buttons {
  display: flex;
  gap: 10px;
}

.main-foot .progress-bar {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.main-foot .progress-bar span {
  margin: 0 10px;
}

.main-foot .progress-bar .range {
  flex: 1;
  margin: 0 5px;
}

.right-foot .volume {
  width: 100px;
  margin: 0 5px;
}

.right-foot {
  margin-right: 20px;
}

.left-foot {
  margin-left: 20px;
}


footer button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0 5px;
  font-size: 20px;
}


/*#: STILI*/

input[type="range"] {
  -webkit-appearance: none;
  background-color: grey;
  height: 2px;
  width: 250px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: white;
  height: 4px;
  opacity: 0.6;
  width: 20%;
}

.rad {
  border-radius: 50%;
}